@charset "UTF-8";

@font-face {
	font-family: 'buble';
	src: url('../_fonts/bubblegum-sans-regular.otf') format('opentype');
	font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'computer';
	src: url('../_fonts/computer-font.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../img/radio-tv.png") no-repeat ;
}

audio#musica {
            position: relative!important;
            left: 553px!important;
            top: 493px!important;
            width: 310px!important;
}

video#filmes {
             display: block;
             position: relative;
             left: 63;
             top: 80px;
             width: 41.3%;
}